
.queryBox {
    width: 100%;
    padding: 16px;
    background: #f5f5f5;
    border: 1px solid grey;
    color: #333;
  }
  
  .queryBtn {
    border-radius: 0px;
    transition: 0.4s;
    float: right;
    margin-top: 16px;
  }