.comment {
  color: #0b0b0b;
  font-size: 12px;
}

.query {
  color: #ffffff;
  margin-top: 16px;
  padding: 16px;
  background: #000;
  font-size: 0.75rem;
  border-radius: 8px;
  min-height: 75px;
}
.limitContainer {
  margin-top: 16px;
  font-size: 12px;
}
.limitContainer  > input{
  border-radius: 4px;
  padding: 4px;
}
.queriesButton{
  padding: 8px;
}
.queriesButton > button{
  margin-right: 8px;
  border-radius: 0px;;
}
